################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Graham/Wander-two/Wander-two/.vs/Wander-two/v16/Server/sqlite3
/Graham/Wander-two/.vs/Wander-two/v16/Server/sqlite3/db.lock
/Graham/Wander-two/.vs/Wander-two/v16/Server/sqlite3/storage.ide
/Graham/Wander-two/.vs/Wander-two/v16/Server/sqlite3/storage.ide-shm
/Graham/Wander-two/.vs/Wander-two/v16/Server/sqlite3/storage.ide-wal
/Graham/Wander-two/bin/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/Graham/Wander-two/bin/cs
/Graham/Wander-two/bin
/Graham/Wander-two_Backup_2019-07-23-105921099.zip
/Graham/Wander-two_Backup_2019-07-23-105928614.zip
/Graham/Wander-two_Backup_2019-07-23-105926984.zip
/Graham/Wander-two_Backup_2019-07-23-110010996.zip
*.dll
Graham/Wander-two/packages/HelixToolkit.2.8.0/.signature.p7s
Graham/Wander-two/packages/HelixToolkit.2.8.0/AUTHORS
Graham/Wander-two/packages/HelixToolkit.2.8.0/CONTRIBUTORS
Graham/Wander-two/packages/HelixToolkit.2.8.0/HelixToolkit.2.8.0.nupkg
Graham/Wander-two/packages/HelixToolkit.2.8.0/lib/netstandard1.1/HelixToolkit.xml
Graham/Wander-two/packages/HelixToolkit.2.8.0/LICENSE
Graham/Wander-two/packages/HelixToolkit.2.8.0/README.md
Graham/Wander-two/packages/HelixToolkit.Wpf.2.8.0/.signature.p7s
Graham/Wander-two/packages/HelixToolkit.Wpf.2.8.0/AUTHORS
Graham/Wander-two/packages/HelixToolkit.Wpf.2.8.0/README.md
Graham/Wander-two/packages/HelixToolkit.Wpf.2.8.0/LICENSE
Graham/Wander-two/packages/HelixToolkit.Wpf.2.8.0/lib/net45/HelixToolkit.Wpf.XML
Graham/Wander-two/PointCloudViewer/bin/Debug/Sandbox.Common.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/Sandbox.Game.dll.config
Graham/Wander-two/PointCloudViewer/bin/Debug/SpaceEngineers.Game.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/SpaceEngineers.ObjectBuilders.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/VRage.Game.dll.config
Graham/Wander-two/PointCloudViewer/bin/Debug/VRage.Game.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/VRage.Input.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/VRage.Library.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/VRage.Math.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/VRage.Render.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/VRage.Render11.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/VRage.Scripting.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/VRage.xml
Graham/Wander-two/packages/HelixToolkit.Wpf.2.8.0/HelixToolkit.Wpf.2.8.0.nupkg
Graham/Wander-two/packages/HelixToolkit.Wpf.2.8.0/CONTRIBUTORS
Graham/Wander-two/PointCloudViewer/bin/Debug/HelixToolkit.Wpf.xml
Graham/Wander-two/PointCloudViewer/bin/Debug/HelixToolkit.xml
Graham/Wander-two/MDK/MDK.paths.props
Graham/Wander-two/MDK/MDK.options.props
*.exe
*.pdb
/Graham/Wander-two/obj/**
/Graham/Wander-two/.vs/**
/Graham/Wander-two/PointCloudViewer/bin/**
/Graham/Wander-two/PointCloudViewer/obj/**
Graham/Sandbox/MDK/MDK.paths.props
Graham/Sandbox/.vs/Sandbox/v16/.suo
