################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Graham/Wander-two/Wander-two/.vs/Wander-two/v16/Server/sqlite3
