################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lily/Wander-two/Wander-two/.vs/Wander-two/v16/Server/sqlite3
/Lily/Wander-two/.vs/Wander-two/v16/Server/sqlite3/db.lock
/Lily/Wander-two/.vs/Wander-two/v16/Server/sqlite3/storage.ide
/Lily/Wander-two/.vs/Wander-two/v16/Server/sqlite3/storage.ide-shm
/Lily/Wander-two/.vs/Wander-two/v16/Server/sqlite3/storage.ide-wal
/Lily/Wander-two/bin/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/Lily/Wander-two/bin/cs
/Lily/Wander-two/bin
*.dll
/Lily/Wander-two/packages/HelixToolkit.2.8.0/.signature.p7s
/Lily/Wander-two/packages/HelixToolkit.2.8.0/AUTHORS
/Lily/Wander-two/packages/HelixToolkit.2.8.0/CONTRIBUTORS
/Lily/Wander-two/packages/HelixToolkit.2.8.0/HelixToolkit.2.8.0.nupkg
/Lily/Wander-two/packages/HelixToolkit.2.8.0/lib/netstandard1.1/HelixToolkit.xml
/Lily/Wander-two/packages/HelixToolkit.2.8.0/LICENSE
/Lily/Wander-two/packages/HelixToolkit.2.8.0/README.md
/Lily/Wander-two/packages/HelixToolkit.Wpf.2.8.0/.signature.p7s
/Lily/Wander-two/packages/HelixToolkit.Wpf.2.8.0/AUTHORS
/Lily/Wander-two/packages/HelixToolkit.Wpf.2.8.0/README.md
/Lily/Wander-two/packages/HelixToolkit.Wpf.2.8.0/LICENSE
/Lily/Wander-two/packages/HelixToolkit.Wpf.2.8.0/lib/net45/HelixToolkit.Wpf.XML
/Lily/Wander-two/packages/HelixToolkit.Wpf.2.8.0/HelixToolkit.Wpf.2.8.0.nupkg
/Lily/Wander-two/packages/HelixToolkit.Wpf.2.8.0/CONTRIBUTORS
/Lily/Wander-two/PointCloudViewer/bin/Debug/HelixToolkit.Wpf.xml
/Lily/Wander-two/PointCloudViewer/bin/Debug/HelixToolkit.xml
/Lily/Wander-two/MDK/MDK.paths.props
/Lily/Wander-two/MDK/MDK.options.props
*.exe
*.pdb
/Lily/Wander-two/obj/**
/Lily/Wander-two/.vs/**
/Lily/Wander-two/PointCloudViewer/bin/**
/Lily/Wander-two/PointCloudViewer/obj/**
/Lily/Sandbox/MDK/MDK.paths.props
*.cache
*.zip
/Lily/Wander-two/MDK/MDK.paths.props
*.cache
*.suo
